.bg-image{
    background-image: url('../img/background.jpg')!important;
    /* background-color:red !important; */
    background-size: cover!important;
    background-position: center !important;
    height: 100vh !important;
}

.alert-custom {
    background-color: #f7f7f7;
    border-color: #ddd;
    color: #333;
  }
  
  .alert-custom .close {
    color: #333;
  }