<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/makeup.css' %}">
    
    
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/logo.jpg' %}" width="10%" height="10%" alt="Cosmetics Galleria Logo" class="rounded-pill">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-outline-light text-dark" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light text-dark" href="#">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light text-dark" href="#">Cart</a>
                    </li>
                </ul>
            </div>
        </nav>
    
        <div class="container mt-4">
            <h2 class="text-center"><strong>MakeUp</strong></h2>
            <div class="product-container">
                <div class="product-card">
                    <img src="{% static 'img/brush.png' %} " alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>HEAVENLY LUXE™ COMPLEXION PERFECTION BRUSH </p>
                        <p class="product-price">30$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button  class="btn btn-dark">Buy</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="{% static 'img/maskara.png' %} "alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>SUPERHERO WATERPROOF MASCARA</p>
                        <p class="product-price">45$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button class="btn btn-dark">Buy</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="{% static 'img/eye.png' %} " alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>SUPERHERO NO-TUG RETRACTABLE EYELINER</p>
                        <p class="product-price">15$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button class="btn btn-dark">Buy</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="{% static 'img/creme.png' %} " alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>BYE BYE REDNESS COLOR-CORRECTING CREAM</p>
                        <p class="product-price">35$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button class="btn btn-dark">Buy</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="{% static 'img/conc.png' %} " alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>BYE BYE UNDER EYE FULL COVERAGE CONCEALER</p>
                        <p class="product-price">25$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button class="btn btn-dark">Buy</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="{% static 'img/bouder.png' %} " alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>CELEBRATION FOUNDATION AND COSMETICS POWDER</p>
                        <p class="product-price">38$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button class="btn btn-dark">Buy</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="{% static 'img/blush.png' %} " alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>BYE BYE PORES BLUSH FULL BLUSHY SHINY</p>
                        <p class="product-price">40$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button class="btn btn-dark">Buy</button>
                    </div>
                </div>
                <div class="product-card">
                    <img src="{% static 'img/balet.png' %} " alt="Product Image" class="product-image">
                    <div class="product-details">
                        <p>NATURALLY PRETTY MATTE EYESHADOW PALETTE</p>
                        <p class="product-price">70$</p>
                        <input type="number" class="form-control" min="1" value="1" id="quantity">
                        <button  class="btn btn-dark">Buy</button>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>