body {
    background-color: #f2f2f2;
    padding: 20px;
}
.container {
    background-color: #d3bbbb;
    /* padding: 20px; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.nav-item {
    margin-right: 15px;
}
.nav-link {
    color: #333;
    
}
.nav-link:hover {
    text-decoration: none;
}
.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    background-color: #e7d9d9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}
.product img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}
.product h5 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.product p {
    margin-bottom: 10px;
}
.product button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.product button:hover {
    background-color: #0056b3;
}

