.bg-image{
    background-image: url('../img/background.jpg')!important;
    /* background-color:red !important; */
    background-size: cover!important;
    background-position: center !important;
    height: 100vh !important;
}
